
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  
  }
  h1{
    font-style: italic;
    font-family: monospace;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  nav{
    height: 50px;
    background-color: azure;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: fixed;
    

  }
  nav a{
    margin-left: 10px;
    background-color: aquamarine;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  nav a:hover{
    background-color: crimson;
    cursor: pointer;
  }
  nav img{
    margin-left: 5px;
    height: 25px;
    border-radius: 10px;
  }
  .container{
    background-image: url(./images/clouds.jpg);
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .container #person{
    width: 400px;    
    margin: 10px;
    padding-top: 20px;
    border-color: black;
    border-radius: 5px;
  }
  .container #person img{
    height: 200px;
    

  }
  button{
    border-radius: 5px;
    background-color: burlywood;
    height: 30px;
  }
  button a:hover{
    padding: 12px;
    background-color: rgb(59, 28, 28);
  }
  button a{
    padding: 10px;
    text-decoration: none;
  }
  footer{
    background-color: #111;
   
  }
  .footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
  }
  .socialIcons{
    display: flex;
    justify-content: center;
  
  }
  .socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }
  .socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0.9;
  }
  /*Hover Effects on Social Media Icons*/
  .socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
  }
  .socialIcons a:hover i{
    color: white;
    transition: 0.5s;
  }
  .footerNav{
    margin: 30px 0;
  }
  .footerNav ul{
    display: flex;
    justify-content: center;
  
  }
  .footerNav ul li{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 3.7;
    transition: 0.5s;
  }
  .footerNav ul li a{
    opacity: 1;
  
  }
  .footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
  }
  .footerBottom p{
    color: white;
  }
  .designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
  }
